<div class="main-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-4 header-cards">
                <HeaderCards />
            </div>
            <div class="col-md-8">
                <HeaderCarousel />
            </div>
        </div>
    </div>
</div>
@code {

}
