@inject MediaODataService MediaODataService
@inject GameService GameService
@inject DialogService DialogService
@inject NotificationService NotificationService

<div class="row mb-2">
    <div class="col-md-4">
        <BaseFileInput TModel="List<BaseModel.InputFile>"
                       FileType="image/*"
                       IsMultiple="true"
                       ChooseText="Resimleri Seçin"
                       MaxFileCount="1"
                       @bind-Model="UploadGameImagesModel.Images" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <RadzenListBox TValue="string"
                       LoadData="LoadData"
                       Data="GameCollection"
                       TextProperty="MediaPath"
                       ValueProperty="MediaPath"
                       @bind-Value="SelectedMedia"
                       class="w-100"
                       Style="height:200px" />
    </div>
    <div class="col-md-8">
        @if (SelectedMedia != null)
        {
            <RadzenImage Style="max-width: 100%; max-height:100%" Path="@($"https://localhost:7075/Main/GameImage/{GameId}/{SelectedMedia}")" class="w-100 h-100" />
        }
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <RadzenButton Click="@Save" Text="Kaydet" Style="margin-bottom: 10px; width: 150px" Visible="@(_isLoading == false)" />
        <RadzenButton Click="@((args) => DialogService.Close(false))" ButtonStyle="ButtonStyle.Secondary" Text="İptal" Style="margin-bottom: 10px; width: 150px" />
    </div>
</div>

@code {
    [Parameter] public Guid GameId { get; set; }
    string SelectedMedia;
    public UploadGameImagesModel UploadGameImagesModel = new UploadGameImagesModel();
    IEnumerable<Media> GameCollection;
    bool _isLoading = false;

    async Task LoadData(LoadDataArgs args)
    {
        _isLoading = true;

        var result = await MediaODataService.GetListAsync(new ODataRequestParams
        {
            Filter = $"EntityId eq {GameId} and MediaTypeId eq {(int)Entities.Enum.Type.MediaTypeEnum.GameImage}"
        });

        GameCollection = result.Value.AsODataEnumerable();

        StateHasChanged();
        _isLoading = false;
    }

    async Task Save()
    {
        _isLoading = true;

        UploadGameImagesModel.EntityId = GameId;

        var result = await GameService.UploadGameImagesAsync(UploadGameImagesModel);

        if (!result.IsSuccessful)
        {
            NotificationService.Notify(new NotificationMessage
            {
                Severity = NotificationSeverity.Error,
                Summary = result.ErrorMessage
            });
            _isLoading = false;
            return;
        }

        NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = result.ErrorMessage });

        DialogService.Close(true);
        _isLoading = false;
    }
}
