
@{
    Layout = "../_Layout.cshtml";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item"><a href="">Kütüphane</a></li>
                <li class="list-group-item"><a href="#">Profil Bilgileri</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>
