<div class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <a href="#">
                    <div class="item">
                        <div class="image">
                            <img src="Temp/assets/images/featured-01.png" alt="" style="max-width: 44px;">
                        </div>
                        <h4>Özel İçerik Kütüphanesi</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#">
                    <div class="item">
                        <div class="image">
                            <img src="Temp/assets/images/featured-02.png" alt="" style="max-width: 44px;">
                        </div>
                        <h4>+ 1M Fazla Kullanıcı</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#">
                    <div class="item">
                        <div class="image">
                            <img src="Temp/assets/images/featured-03.png" alt="" style="max-width: 44px;">
                        </div>
                        <h4>Erken Erişim Fırsatı</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#">
                    <div class="item">
                        <div class="image">
                            <img src="Temp/assets/images/featured-04.png" alt="" style="max-width: 44px;">
                        </div>
                        <h4>Kullanılabilir Panel</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>