@inject CategoryService CategoryService
@inject CategoryODataService CategoryODataService
@inject DialogService DialogService
@inject NotificationService NotificationService

<div class="row">
    <div class="col-md-4 align-items-center d-flex">
        <RadzenLabel Text="Kategori Adı:" />
    </div>
    <div class="col-md-8">
        <RadzenTextBox @bind-Value="Category.Name" />
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <RadzenButton Click="@Save" Text="Kaydet" Style="margin-bottom: 10px; width: 150px" Visible="@(_isLoading == false)" />
        <RadzenButton Click="@((args) => DialogService.Close(false))" ButtonStyle="ButtonStyle.Secondary" Text="İptal" Style="margin-bottom: 10px; width: 150px" />
    </div>
</div>

@code {
    [Parameter] public object CategoryId { get; set; }
    Category Category;
    bool _isLoading = false;

    protected async override void OnInitialized()
    {
        var result = await CategoryService.GetByIdAsync((Guid)CategoryId);
        //if (!result.IsSuccessStatusCode)
        //{
        //    NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Kategori bulunamadı!" });
        //    return;
        //}

        Category = result.Data;
    }

    private async Task Save()
    {
        _isLoading = true;
        if (string.IsNullOrEmpty(Category.Name))
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Lütfen Kategori Adı Giriniz" });
            return;
        }

        var result = await CategoryService.UpdateAsync(Category);

        if (!result.IsSuccessful)
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = result.StatusCode.ToString() });
            _isLoading = false;
            return;
        }

        NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = result.StatusCode.ToString() });

        DialogService.Close(true);
        _isLoading = false;
    }
}
