<html lang="en">

<head>
    <style>
        body {
            padding: 20px;
        }

        .area-header {
            font-family: Bahnschrift;
        }

        .area-body {
            font-family: Consolas
        }
    </style>
</head>

<body>
    <div class="area">
        <div class="area-header">
            <h3>Core Snippets'e Hoşgeldin</h3>
        </div>
        <hr>
        <div class="area-body">
            Burada yazılımla ilgili kafana takılan konuların çözümleri ve seveceğin blog yazıları var. işte bunlardan
            bazıları
            <ul>
                <li><a href="https://coresnippets.com.tr/GetArticle?id=29bc2c92-608e-479e-3f96-08db436b9c79">Extension Metodlar</a></li>
                <li><a href="https://coresnippets.com.tr/GetArticle?id=a9ec745e-e39b-4041-4b21-08db4c7fd74c">.Net Core Web API Dosya Yükleme İşlemleri</a></li>
                <li><a href="https://coresnippets.com.tr/GetArticle?id=bd3f3db6-3541-4452-c3f8-08db37d45c79">.Net Core Reflection</a></li>
            </ul>
        </div>
    </div>
</body>

</html>