<div class="header-card" style="background-image: url('https://images4.alphacoders.com/587/587508.png');">
    <div class="header-card-background">
        <h5 class="text-light">Cyberpunk 2077 Artık Mevcut!</h5>
        <p class="text-light">Oyun</p>
    </div>
</div>
<div class="header-card" style="background-image: url('https://i.ebayimg.com/images/g/X60AAOSwTGRjBQV7/s-l1200.webp');">
    <div class="header-card-background">
        <h5 class="text-light">Cyberpunk 2077 Artık Mevcut!</h5>
        <p class="text-light">Oyun</p>
    </div>
</div>
<div class="header-card" style="background-image: url('https://gpstatic.com/acache/28/57/1/fr/t620x300-f14ace8d792c9f235b86811c5f3afafa.jpg');">
    <div class="header-card-background">
        <h5 class="text-light">Cyberpunk 2077 Artık Mevcut!</h5>
        <p class="text-light">Oyun</p>
    </div>
</div>
<div class="header-card" style="background-image: url('https://asumetech.com/wp-content/uploads/2022/02/Mount-Blade-2-Bannerlord-update-1.7.0-Patch-Notes-on-February-4-2022.jpg');">
    <div class="header-card-background">
        <h5 class="text-light">Cyberpunk 2077 Artık Mevcut!</h5>
        <p class="text-light">Oyun</p>
    </div>
</div>


@code {

}
