<div class="section trending">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h6>Trending</h6>
                    <h2>Trend Oyunlar</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="main-button">
                    <a href="shop.html">Hepsi</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <div class="thumb">
                        <a href="product-details.html"><img src="https://image.api.playstation.com/vulcan/ap/rnd/202211/0711/kh4MUIuMmHlktOHar3lVl6rY.png" alt=""></a>
                        <span class="price"><em>$28</em>$20</span>
                    </div>
                    <div class="down-content d-flex align-items-start flex-column">
                        <span class="category">History</span>
                        <h4>The Witcher 3 Wild Hunt</h4>
                        <span>960 TL</span>
                        <a href="product-details.html"><i class="fa fa-shopping-bag"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
