@model List<UserInterface.Models.Game.GameListViewModel>

@{
    Layout = "../Shared/NestedLayouts/_StoreLayout.cshtml";
}

<div class="section trending mt-3">
    <div class="container">
        <div class="row trending-box">
            @foreach (var game in Model)
            {
                <div class="col-lg-4 col-md-6 align-self-center mb-30 trending-items adv">
                    <div class="item">
                        <div class="thumb">
                            <a href="product-details.html"><img class="cover-image" src="@($"{Configuration.CoreConfiguration.APIOptions.WebAPI.BaseUrl}/Main/GameCoverImage/{game.Id}/{game.CoverPath}")" alt=""></a>
                        </div>
                        <div class="down-content">
                            <span class="category">@game.CategoryName</span>
                            <h4>@game.Name</h4>
                            <a href="/Games/GetDetail/@game.Id"><i class="fa fa-shopping-bag"></i></a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li><a href="#"> &lt; </a></li>
                    <li><a href="#">1</a></li>
                    <li><a class="is_active" href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#"> &gt; </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>